.settings
.gradle
.idea
.navigation
.project
.classpath
/community-mobile-android/gen/
/community-mobile-android/*.log
/community-mobile-android/bin/
/.metadata
/RemoteSystemsTempFiles
community-server/target/
community-mobile-android/build/
