.settings
/community-server/*.classpath
/community-server/*.project
/community-server/target
/community-mobile/gen
/community-mobile/bin
/community-mobile/*.classpath
/community-mobile/*.project
/community-mobile/*.log
/community-mobile-android/bin
/community-client/*.project
/community-client/*.classpath
/community-client/.gitignore
/community-common/.classpath
/community-common/.project
/community-mobile-android/*.classpath
/community-mobile-android/*.project
/.metadata
/RemoteSystemsTempFiles
community-mobile-android/.gradle/2.2.1/taskArtifacts/cache.properties
community-mobile-android/.gradle/2.2.1/taskArtifacts/cache.properties.lock
community-mobile-android/.gradle/2.2.1/taskArtifacts/fileHashes.bin
community-mobile-android/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
community-mobile-android/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
community-mobile-android/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
community-mobile-android/.idea/.name
community-mobile-android/.idea/compiler.xml
community-mobile-android/.idea/copyright/profiles_settings.xml
community-mobile-android/.idea/encodings.xml
community-mobile-android/.idea/gradle.xml
community-mobile-android/.idea/libraries/appcompat_v7_21_0_0.xml
community-mobile-android/.idea/libraries/butterknife_6_1_0.xml
community-mobile-android/.idea/libraries/cardview_v7_21_0_3.xml
community-mobile-android/.idea/libraries/commons_io_2_4.xml
community-mobile-android/.idea/libraries/commons_lang_2_6.xml
community-mobile-android/.idea/libraries/community_common_1_0_1_SNAPSHOT.xml
community-mobile-android/.idea/libraries/jackson_annotations_2_5_0.xml
community-mobile-android/.idea/libraries/jackson_core_2_5_3.xml
community-mobile-android/.idea/libraries/jackson_databind_2_5_3.xml
community-mobile-android/.idea/libraries/jackson_jaxrs_base_2_5_3.xml
community-mobile-android/.idea/libraries/jackson_jaxrs_json_provider_2_5_3.xml
community-mobile-android/.idea/libraries/jackson_module_jaxb_annotations_2_5_3.xml
community-mobile-android/.idea/libraries/library_1_1_3.xml
community-mobile-android/.idea/libraries/library_1_2_0.xml
community-mobile-android/.idea/libraries/library_1_3.xml
community-mobile-android/.idea/libraries/materialish_progress_1_0.xml
community-mobile-android/.idea/libraries/recyclerview_animators_1_2_0.xml
community-mobile-android/.idea/libraries/recyclerview_v7_21_0_3.xml
community-mobile-android/.idea/libraries/slf4j_android_1_7_7.xml
community-mobile-android/.idea/libraries/slf4j_api_1_7_7.xml
community-mobile-android/.idea/libraries/slidableactivity_2_0_2.xml
community-mobile-android/.idea/libraries/spring_android_core_1_0_1_RELEASE.xml
community-mobile-android/.idea/libraries/spring_android_rest_template_1_0_1_RELEASE.xml
community-mobile-android/.idea/libraries/support_annotations_22_0_0.xml
community-mobile-android/.idea/libraries/support_v13_22_0_0.xml
community-mobile-android/.idea/libraries/support_v4_22_0_0.xml
community-mobile-android/.idea/libraries/utils_v13_1_1_3.xml
community-mobile-android/.idea/libraries/weberknecht_1_1.xml
community-mobile-android/.idea/misc.xml
community-mobile-android/.idea/modules.xml
community-mobile-android/.idea/vcs.xml
community-mobile-android/.idea/workspace.xml
community-mobile-android/.navigation/app/raw/main.nvg.xml
community-mobile-android/build/intermediates/dex-cache/cache.xml
community-mobile-android/build/intermediates/gradle_project_sync_data.bin
community-mobile-android/gradle/wrapper/gradle-wrapper.jar
community-mobile-android/gradle/wrapper/gradle-wrapper.properties
