 
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.navbar .nav { 
    width: 100%;
    text-align: center;    
}

.navbar .nav > div {
    display: inline-block;
    line-height: 50px;	
}

.navbar .nav .active {
   color: green;
}

.badge-notify{
   background:red;
   position:relative;
   top: -10px;
   left: -5px;
}